@model cloudscribe.Pagination.Models.PagedResult<ShowStudentVM>
@{
    ViewData["Title"] = "Student";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a asp-controller="Student" asp-action="Index" class="btn btn-success">Add Student</a>
<div class="input-group m-md-3">
    <button style="height:50px; margin-top:25px" type="button" id="search" class="btn btn-primary mr-4 ">
        Search
    </button>
    <div class="form-outline mr-2">
        <label>Country</label>
        <input type="search" id="country" placeholder="Enter Country" class="form-control" />
    </div>
    <div class="form-outline mr-2">
        <label>Level</label>
        <div id="levelBooks">
            @* Level Drop List *@
        </div>
    </div>
    <div class="form-outline ml-2 mr-2 mt-4">
        <span class="h6">Is enrolled</span>
        <input type="checkbox" id="isActive">
    </div>
</div>

<div id="studentTable">
    @*Students Table*@
    <partial name="_ShowStudent" view-data="ViewData" model="Model">
</div>
 


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

        //Get Level List when page Loaded
    $(document).ready(function () {
        $("#next").show();
            $.ajax({
                type: "Get",
                url: "/Home/GetLevelList",
                dataType: 'html',
                contentType: 'application/x-www-form-urlencoded',
                success: function (res) {
                    $("#levelBooks").html(res);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        });

        // When search button clicked
    $("#search").click(function (e) {
            e.preventDefault();
            var searchContent = {
                level: $("#Id").val(),
                country: $("#country").val(),
                isActive: $('#isActive').is(":checked")
            }

            $.ajax({
                type: "GET",
                url: "/Home/Search",
                data: searchContent,
                dataType: 'html',
                contentType: 'application/x-www-form-urlencoded',
                success: function (res) {
                    $("#studentTable").html(res);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        });
       
</script>
}
