@model Ajaxs_01.Models.Student


<table id="tblStudent" class="table table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th align="center">Student Name</th>
            <th align="center">Student Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td class="prtoducttd">@Html.DisplayFor(model => model.Name)</td>

            <td class="prtoducttd">@Html.DisplayFor(model => model.Age)</td>

            <td class="prtoducttd">@Html.DisplayFor(model => model.BirthData)</td>

            <td class="prtoducttd">@Html.DisplayFor(model => model.IsActive)</td>
        </tr>
    </tbody>
</table>